/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #1667b7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

main {
    flex: 3;
    padding: 20px;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #43a888;
}

footer {
    background-color: #343a40;
    color: #a56f6f;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        display: none;
    }

    nav ul.active {
        display: flex;
    }

    header .logo {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    aside {
        order: 2;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: block;
        padding: 0;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}
